numpy==1.16.3
Keras==2.6.0rc3
pymongo==3.4.0
pygame==1.9.3
tensorflow==2.5.1
bleach>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
html5lib>=0.99999999 # not directly required, pinned by Snyk to avoid a vulnerability
